Importing Libraby

In [1]:
import pandas as pd
import numpy as np

In [3]:

df = pd.read_csv('realfishdataset.csv')

In [4]:
df.head()

    ph  temperature  turbidity   fish
0  6.0         27.0        4.0  katla
1  7.6         28.0        5.9   sing
2  7.8         27.0        5.5   sing
3  6.5         31.0        5.5  katla
4  8.2         27.0        8.5  prawn

In [7]:
df.shape

(591, 4)

In [8]:
df.isnull().sum()

ph             0
temperature    0
turbidity      0
fish           0
dtype: int64

In [9]:
df.columns

Index(['ph', 'temperature', 'turbidity', 'fish'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ph           591 non-null    float64
 1   temperature  591 non-null    float64
 2   turbidity    591 non-null    float64
 3   fish         591 non-null    object
dtypes: float64(3), object(1)
memory usage: 18.6+ KB

In [11]:
df.describe()

               ph  temperature   turbidity
count  591.000000   591.000000  591.000000
mean     7.532115    21.789306    4.432944
std      0.810588     4.536612    2.169062
min      5.500000     4.000000    1.000000
25%      6.990000    17.940000    3.480000
50%      7.500000    21.060000    3.570000
75%      8.200000    24.000000    4.005000
max      9.000000    35.000000   15.800000

In [12]:
len(df.fish.value_counts())

11

In [1]:
#from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'